a[aria-label="Verified Organizations"], a[aria-label="Twitter Blue"] {
    /*hides twitter blue ads*/
    display: none;
}

svg[data-testid=icon-verified] {
    /*keep this for whitelisting*/
    color: rgb(244, 33, 46);
}

div[data-testid=cellInnerDiv]:has(span > svg[data-testid=icon-verified] > g > path:not([fill])) {
    /*hides articles that contain a verified Icon*/
    background-color: darkred;
    /*display: none;*/
}

div[data-testid=cellInnerDiv]:has(span > svg[data-testid=icon-verified] > g > path:not([fill])) + div:not(:has(article)) {
    /*hides response dropdowns*/
    background-color: greenyellow;
    /*display: none;*/
}
